<p> <strong>Body:</strong> <%= todo.body %></p>
<p> <strong>Completed?:</strong> <%= todo.completed %></p>
<p> <strong>Created:</strong> <%= todo.created_at.strftime("%m/%d/%y at %r") %></p>
<p> <strong>Last Updated:</strong> <%= todo.updated_at.strftime("%m/%d/%y at %r") %></p>
