<!DOCTYPE html>
<html>
<head>
  <title>TodoApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1 class="title">Todo List</h1>
    <div class="subtitles"><!--
    --><div class="subtitle1">Finished</div><!--
    --><div class="subtitle2">Not Finished</div><!--
  --></div>

    <a href="/todos" class="link">All Todos</a>
    <!-- <a href='/students/highest_gpa'>Highest GPA</a> -->
  </header>
  <%= yield %>

</body>
</html>
